* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
ideia de design:

*/

#conteiner-base{
    
}

#calculadora{
    background-color: rgb(133, 133, 133);
    padding: 20px;
    width: 300px;
    height: 300px;
}